In [63]:
import pandas as pd

In [72]:
df=pd.read_csv('/content/census_2011.csv')

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Columns: 118 entries, District code to Total_Power_Parity
dtypes: float64(115), int64(1), object(2)
memory usage: 590.1+ KB

In [74]:
df.describe()

,District code,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,Male_SC,Female_SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
count,640.000000,6.100000e+02,6.100000e+02,6.070000e+02,6.040000e+02,6.090000e+02,6.130000e+02,6.050000e+02,6.170000e+02,6.080000e+02,...,607.000000,610.000000,611.000000,605.000000,616.000000,607.000000,610.000000,617.000000,610.000000,608.000000
mean,320.500000,1.852620e+06,9.685726e+05,9.139882e+05,1.190550e+06,6.739088e+05,5.129481e+05,3.177854e+05,1.624509e+05,1.544700e+05,...,792.028007,1676.009836,288.960720,213.919008,513.099026,197.375618,264.191803,463.019449,283.934426,3334.167763
std,184.896367,1.435578e+06,7.926455e+05,7.479293e+05,1.050630e+06,5.683384e+05,4.801441e+05,3.172010e+05,1.625607e+05,1.537418e+05,...,1059.010710,1669.641260,641.765892,370.466703,985.702797,433.595214,599.182627,1023.577867,1073.822380,4683.995495
min,1.000000,8.004000e+03,4.414000e+03,3.590000e+03,4.436000e+03,2.614000e+03,1.822000e+03,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000
25%,160.750000,8.148625e+05,4.180382e+05,3.986990e+05,4.796545e+05,2.695820e+05,2.009450e+05,8.799100e+04,4.251300e+04,4.411825e+04,...,236.000000,588.000000,59.000000,23.000000,93.500000,19.000000,21.000000,44.000000,18.000000,1053.500000
50%,320.500000,1.557367e+06,7.939620e+05,7.556020e+05,9.793575e+05,5.507160e+05,4.048610e+05,2.463370e+05,1.252140e+05,1.181440e+05,...,507.000000,1196.000000,144.000000,107.000000,274.000000,84.000000,84.000000,188.000000,61.500000,2291.500000
75%,480.250000,2.565248e+06,1.318615e+06,1.253832e+06,1.602260e+06,9.203140e+05,6.568420e+05,4.550620e+05,2.284310e+05,2.163095e+05,...,939.000000,2224.250000,293.000000,253.000000,562.250000,216.000000,293.000000,509.000000,212.750000,3985.250000
max,640.000000,1.000978e+07,5.865078e+06,5.195070e+06,8.227161e+06,4.591396e+06,3.635765e+06,2.464032e+06,1.266504e+06,1.197528e+06,...,10334.000000,13483.000000,10835.000000,3595.000000,14430.000000,5027.000000,7597.000000,12624.000000,18289.000000,60163.000000

In [75]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 118 columns):
 #    Column                                                                                                   Dtype
---   ------                                                                                                   -----
 0    District code                                                                                            int64
 1    State name                                                                                               object
 2    District name                                                                                            object
 3    Population                                                                                               float64
 4    Male                                                                                                     float64
 5    Female                                                                                                   float64
 6    Literate                                                                                                 float64
 7    Male_Literate                                                                                            float64
 8    Female_Literate                                                                                          float64
 9    SC                                                                                                       float64
 10   Male_SC                                                                                                  float64
 11   Female_SC                                                                                                float64
 12   ST                                                                                                       float64
 13   Male_ST                                                                                                  float64
 14   Female_ST                                                                                                float64
 15   Workers                                                                                                  float64
 16   Male_Workers                                                                                             float64
 17   Female_Workers                                                                                           float64
 18   Main_Workers                                                                                             float64
 19   Marginal_Workers                                                                                         float64
 20   Non_Workers                                                                                              float64
 21   Cultivator_Workers                                                                                       float64
 22   Agricultural_Workers                                                                                     float64
 23   Household_Workers                                                                                        float64
 24   Other_Workers                                                                                            float64
 25   Hindus                                                                                                   float64
 26   Muslims                                                                                                  float64
 27   Christians                                                                                               float64
 28   Sikhs                                                                                                    float64
 29   Buddhists                                                                                                float64
 30   Jains                                                                                                    float64
 31   Others_Religions                                                                                         float64
 32   Religion_Not_Stated                                                                                      float64
 33   LPG_or_PNG_Households                                                                                    float64
 34   Housholds_with_Electric_Lighting                                                                         float64
 35   Households_with_Internet                                                                                 float64
 36   Households_with_Computer                                                                                 float64
 37   Rural_Households                                                                                         float64
 38   Urban_Households                                                                                         float64
 39   Households                                                                                               float64
 40   Below_Primary_Education                                                                                  float64
 41   Primary_Education                                                                                        float64
 42   Middle_Education                                                                                         float64
 43   Secondary_Education                                                                                      float64
 44   Higher_Education                                                                                         float64
 45   Graduate_Education                                                                                       float64
 46   Other_Education                                                                                          float64
 47   Literate_Education                                                                                       float64
 48   Illiterate_Education                                                                                     float64
 49   Total_Education                                                                                          float64
 50   Age_Group_0_29                                                                                           float64
 51   Age_Group_30_49                                                                                          float64
 52   Age_Group_50                                                                                             float64
 53   Age not stated                                                                                           float64
 54   Households_with_Bicycle                                                                                  float64
 55   Households_with_Car_Jeep_Van                                                                             float64
 56   Households_with_Radio_Transistor                                                                         float64
 57   Households_with_Scooter_Motorcycle_Moped                                                                 float64
 58   Households_with_Telephone_Mobile_Phone_Landline_only                                                     float64
 59   Households_with_Telephone_Mobile_Phone_Mobile_only                                                       float64
 60   Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car                                float64
 61   Households_with_Television                                                                               float64
 62   Households_with_Telephone_Mobile_Phone                                                                   float64
 63   Households_with_Telephone_Mobile_Phone_Both                                                              float64
 64   Condition_of_occupied_census_houses_Dilapidated_Households                                               float64
 65   Households_with_separate_kitchen_Cooking_inside_house                                                    float64
 66   Having_bathing_facility_Total_Households                                                                 float64
 67   Having_latrine_facility_within_the_premises_Total_Households                                             float64
 68   Ownership_Owned_Households                                                                               float64
 69   Ownership_Rented_Households                                                                              float64
 70   Type_of_bathing_facility_Enclosure_without_roof_Households                                               float64
 71   Type_of_fuel_used_for_cooking_Any_other_Households                                                       float64
 72   Type_of_latrine_facility_Pit_latrine_Households                                                          float64
 73   Type_of_latrine_facility_Other_latrine_Households                                                        float64
 74   Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households                                  float64
 75   Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households                   float64
 76   Not_having_bathing_facility_within_the_premises_Total_Households                                         float64
 77   Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households                       float64
 78   Main_source_of_drinking_water_Un_covered_well_Households                                                 float64
 79   Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households                                      float64
 80   Main_source_of_drinking_water_Spring_Households                                                          float64
 81   Main_source_of_drinking_water_River_Canal_Households                                                     float64
 82   Main_source_of_drinking_water_Other_sources_Households                                                   float64
 83   Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households  float64
 84   Location_of_drinking_water_source_Near_the_premises_Households                                           float64
 85   Location_of_drinking_water_source_Within_the_premises_Households                                         float64
 86   Main_source_of_drinking_water_Tank_Pond_Lake_Households                                                  float64
 87   Main_source_of_drinking_water_Tapwater_Households                                                        float64
 88   Main_source_of_drinking_water_Tubewell_Borehole_Households                                               float64
 89   Household_size_1_person_Households                                                                       float64
 90   Household_size_2_persons_Households                                                                      float64
 91   Household_size_1_to_2_persons                                                                            float64
 92   Household_size_3_persons_Households                                                                      float64
 93   Household_size_3_to_5_persons_Households                                                                 float64
 94   Household_size_4_persons_Households                                                                      float64
 95   Household_size_5_persons_Households                                                                      float64
 96   Household_size_6_8_persons_Households                                                                    float64
 97   Household_size_9_persons_and_above_Households                                                            float64
 98   Location_of_drinking_water_source_Away_Households                                                        float64
 99   Married_couples_1_Households                                                                             float64
 100  Married_couples_2_Households                                                                             float64
 101  Married_couples_3_Households                                                                             float64
 102  Married_couples_3_or_more_Households                                                                     float64
 103  Married_couples_4_Households                                                                             float64
 104  Married_couples_5__Households                                                                            float64
 105  Married_couples_None_Households                                                                          float64
 106  Power_Parity_Less_than_Rs_45000                                                                          float64
 107  Power_Parity_Rs_45000_90000                                                                              float64
 108  Power_Parity_Rs_90000_150000                                                                             float64
 109  Power_Parity_Rs_45000_150000                                                                             float64
 110  Power_Parity_Rs_150000_240000                                                                            float64
 111  Power_Parity_Rs_240000_330000                                                                            float64
 112  Power_Parity_Rs_150000_330000                                                                            float64
 113  Power_Parity_Rs_330000_425000                                                                            float64
 114  Power_Parity_Rs_425000_545000                                                                            float64
 115  Power_Parity_Rs_330000_545000                                                                            float64
 116  Power_Parity_Above_Rs_545000                                                                             float64
 117  Total_Power_Parity                                                                                       float64
dtypes: float64(115), int64(1), object(2)
memory usage: 590.1+ KB

In [76]:
#Task 1: Rename the Column names
df=df.rename(columns={'State name':'State/UT','District name':'District','Male_Literate':' Literate_Male','Female_Literate':'Literate_Female',
                   'Rural_Households':'Households_Rural','Urban_ Households':'Households_Urban','Age_Group_0_29':'Young_and_Adult',
                   'Age_Group_30_49':'Middle_Aged','Age_Group_50':'Senior_Citizen','Age not stated':'Age_Not_Stated'
                   })
df

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,JAMMU AND KASHMIR,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,JAMMU AND KASHMIR,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,JAMMU AND KASHMIR,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,PONDICHERRY,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,NaN,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

In [93]:
#Task 2: Rename State/UT Names
import string
df1=df['State/UT'].str.title()
df2=df1.str.replace(' And',' and')
df2

0                Jammu and Kashmir
1                Jammu and Kashmir
2                Jammu and Kashmir
3                Jammu and Kashmir
4                Jammu and Kashmir
                  ...
635                    Pondicherry
636                    Pondicherry
637    Andaman and Nicobar Islands
638    Andaman and Nicobar Islands
639    Andaman and Nicobar Islands
Name: State/UT, Length: 640, dtype: object

In [94]:
#Task 3: New State/UT formation
tf=pd.read_table('/content/Telangana.txt')

In [95]:
mylist=['Adilabad','Nizamabad','Karimnagar','Medak','Hyderabad','Rangareddy','Mahbubnagar',
'Nalgonda','Warangal','Khammam']

In [96]:
df.loc[df['District'].isin(mylist),'State/UT']='Telangana'

In [97]:
df

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354.0,474190.0,396164.0,439654.0,282823.0,156831.0,1048.0,...,94.0,588.0,71.0,101.0,172.0,74.0,10.0,84.0,15.0,1119.0
1,2,JAMMU AND KASHMIR,Badgam,753745.0,NaN,355704.0,335649.0,207741.0,127908.0,NaN,...,126.0,562.0,72.0,89.0,161.0,96.0,28.0,124.0,18.0,1066.0
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487.0,78971.0,54516.0,93770.0,62834.0,30936.0,488.0,...,46.0,122.0,15.0,22.0,NaN,20.0,NaN,NaN,17.0,242.0
3,4,JAMMU AND KASHMIR,Kargil,140802.0,NaN,63017.0,NaN,56301.0,29935.0,18.0,...,27.0,114.0,12.0,18.0,30.0,19.0,3.0,22.0,7.0,214.0
4,5,JAMMU AND KASHMIR,Punch,NaN,251899.0,224936.0,261724.0,163333.0,98391.0,556.0,...,78.0,346.0,35.0,50.0,85.0,59.0,8.0,67.0,12.0,629.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816.0,19143.0,22673.0,36470.0,16610.0,19860.0,144.0,...,2316.0,4309.0,1370.0,838.0,2208.0,576.0,978.0,1554.0,1446.0,10027.0
636,637,PONDICHERRY,Karaikal,200222.0,97809.0,102413.0,154916.0,79903.0,75013.0,35348.0,...,1063.0,2408.0,665.0,340.0,1005.0,246.0,NaN,729.0,341.0,4890.0
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842.0,20727.0,NaN,25332.0,15397.0,9935.0,0.0,...,685.0,1895.0,212.0,134.0,346.0,70.0,120.0,190.0,84.0,3151.0
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597.0,54861.0,50736.0,78683.0,43186.0,35497.0,0.0,...,685.0,1895.0,212.0,NaN,346.0,70.0,120.0,190.0,84.0,3151.0
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,NaN,127283.0,110859.0,190266.0,105794.0,84472.0,0.0,...,1371.0,3020.0,649.0,368.0,1017.0,265.0,497.0,762.0,376.0,5782.0

In [99]:
df[df['State/UT']=='Telangana']

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
531,532,Telangana,Adilabad,2741239.0,NaN,1371642.0,1483347.0,856350.0,626997.0,488596.0,...,1266.0,2870.0,84.0,122.0,206.0,134.0,213.0,347.0,109.0,4181.0
532,533,Telangana,Nizamabad,2551335.0,1250641.0,1300694.0,1389810.0,790214.0,599596.0,371074.0,...,931.0,2399.0,61.0,60.0,121.0,71.0,105.0,176.0,100.0,NaN
533,534,Telangana,Karimnagar,3776269.0,1880800.0,1895469.0,2206829.0,1257238.0,949591.0,709757.0,...,1420.0,3583.0,128.0,99.0,227.0,119.0,173.0,292.0,186.0,5251.0
534,535,Telangana,Medak,3033288.0,1523030.0,1510258.0,1637137.0,953406.0,683731.0,537947.0,...,997.0,2656.0,84.0,59.0,143.0,71.0,102.0,173.0,116.0,3874.0
535,536,Telangana,Hyderabad,3943323.0,2018575.0,1924748.0,2892155.0,1542688.0,1349467.0,247927.0,...,3204.0,5212.0,1708.0,494.0,2202.0,NaN,860.0,1531.0,1710.0,11071.0
536,537,Telangana,Rangareddy,5296741.0,2701008.0,2595733.0,NaN,1948784.0,1589244.0,652042.0,...,2912.0,5426.0,528.0,373.0,901.0,438.0,650.0,1088.0,603.0,NaN
537,538,Telangana,Mahbubnagar,4053028.0,2050386.0,2002642.0,1940646.0,1158386.0,782260.0,708954.0,...,1137.0,3241.0,70.0,54.0,124.0,65.0,95.0,160.0,102.0,4695.0
538,539,Telangana,Nalgonda,3488809.0,1759772.0,1729037.0,2001019.0,1160757.0,840262.0,637385.0,...,1106.0,3043.0,NaN,72.0,136.0,84.0,125.0,209.0,113.0,4468.0
539,540,Telangana,Warangal,3512576.0,1759281.0,1753295.0,2065023.0,1179790.0,885233.0,616102.0,...,1203.0,3139.0,135.0,93.0,228.0,112.0,162.0,274.0,185.0,4762.0
540,541,Telangana,Khammam,2797370.0,1390988.0,1406382.0,1630234.0,901640.0,728594.0,462896.0,...,1012.0,2596.0,75.0,78.0,153.0,92.0,136.0,NaN,127.0,3836.0

In [89]:
mylist2=['Adilabad','Nizamabad','Karimnagar','Medak','Hyderabad','Rangareddy','Mahbubnagar',
'Nalgonda','Warangal','Khammam']

In [90]:
df.loc[df['District'].isin(mylist2),'State/UT']='Ladakh'

In [91]:
df[df['State/UT']=='Ladakh']

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
531,532,Ladakh,Adilabad,2741239.0,NaN,1371642.0,1483347.0,856350.0,626997.0,488596.0,...,1266.0,2870.0,84.0,122.0,206.0,134.0,213.0,347.0,109.0,4181.0
532,533,Ladakh,Nizamabad,2551335.0,1250641.0,1300694.0,1389810.0,790214.0,599596.0,371074.0,...,931.0,2399.0,61.0,60.0,121.0,71.0,105.0,176.0,100.0,NaN
533,534,Ladakh,Karimnagar,3776269.0,1880800.0,1895469.0,2206829.0,1257238.0,949591.0,709757.0,...,1420.0,3583.0,128.0,99.0,227.0,119.0,173.0,292.0,186.0,5251.0
534,535,Ladakh,Medak,3033288.0,1523030.0,1510258.0,1637137.0,953406.0,683731.0,537947.0,...,997.0,2656.0,84.0,59.0,143.0,71.0,102.0,173.0,116.0,3874.0
535,536,Ladakh,Hyderabad,3943323.0,2018575.0,1924748.0,2892155.0,1542688.0,1349467.0,247927.0,...,3204.0,5212.0,1708.0,494.0,2202.0,NaN,860.0,1531.0,1710.0,11071.0
536,537,Ladakh,Rangareddy,5296741.0,2701008.0,2595733.0,NaN,1948784.0,1589244.0,652042.0,...,2912.0,5426.0,528.0,373.0,901.0,438.0,650.0,1088.0,603.0,NaN
537,538,Ladakh,Mahbubnagar,4053028.0,2050386.0,2002642.0,1940646.0,1158386.0,782260.0,708954.0,...,1137.0,3241.0,70.0,54.0,124.0,65.0,95.0,160.0,102.0,4695.0
538,539,Ladakh,Nalgonda,3488809.0,1759772.0,1729037.0,2001019.0,1160757.0,840262.0,637385.0,...,1106.0,3043.0,NaN,72.0,136.0,84.0,125.0,209.0,113.0,4468.0
539,540,Ladakh,Warangal,3512576.0,1759281.0,1753295.0,2065023.0,1179790.0,885233.0,616102.0,...,1203.0,3139.0,135.0,93.0,228.0,112.0,162.0,274.0,185.0,4762.0
540,541,Ladakh,Khammam,2797370.0,1390988.0,1406382.0,1630234.0,901640.0,728594.0,462896.0,...,1012.0,2596.0,75.0,78.0,153.0,92.0,136.0,NaN,127.0,3836.0

In [ ]:
#Task 4: Find and process Missing Data
Missing_Words=df.isnull()
Missing_Words

,District code,State/UT,District,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,True,True,False,False
3,False,False,False,False,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
636,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
637,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
638,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
639,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
Missing_Words1

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,True,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,True,True,False,False
3,False,False,False,False,True,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
636,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
637,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
638,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
639,False,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
df5=df.fillna(0)

In [ ]:
df5['Population']=df5['Male']+df5['Female']
df6=df5['Population'].isnull()
df5['Population']

0      870354.0
1      355704.0
2      133487.0
3       63017.0
4      476835.0
         ...
635     41816.0
636    200222.0
637     20727.0
638    105597.0
639    238142.0
Name: Population, Length: 640, dtype: float64

In [ ]:
df.describe()

,District code,Population,Male,Female,Literate,Literate_Male,Literate_Female,SC,Male_SC,Female_SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
count,640.000000,6.100000e+02,6.100000e+02,6.070000e+02,6.040000e+02,6.090000e+02,6.130000e+02,6.050000e+02,6.170000e+02,6.080000e+02,...,607.000000,610.000000,611.000000,605.000000,616.000000,607.000000,610.000000,617.000000,610.000000,608.000000
mean,320.500000,1.852620e+06,9.685726e+05,9.139882e+05,1.190550e+06,6.739088e+05,5.129481e+05,3.177854e+05,1.624509e+05,1.544700e+05,...,792.028007,1676.009836,288.960720,213.919008,513.099026,197.375618,264.191803,463.019449,283.934426,3334.167763
std,184.896367,1.435578e+06,7.926455e+05,7.479293e+05,1.050630e+06,5.683384e+05,4.801441e+05,3.172010e+05,1.625607e+05,1.537418e+05,...,1059.010710,1669.641260,641.765892,370.466703,985.702797,433.595214,599.182627,1023.577867,1073.822380,4683.995495
min,1.000000,8.004000e+03,4.414000e+03,3.590000e+03,4.436000e+03,2.614000e+03,1.822000e+03,0.000000e+00,0.000000e+00,0.000000e+00,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,17.000000
25%,160.750000,8.148625e+05,4.180382e+05,3.986990e+05,4.796545e+05,2.695820e+05,2.009450e+05,8.799100e+04,4.251300e+04,4.411825e+04,...,236.000000,588.000000,59.000000,23.000000,93.500000,19.000000,21.000000,44.000000,18.000000,1053.500000
50%,320.500000,1.557367e+06,7.939620e+05,7.556020e+05,9.793575e+05,5.507160e+05,4.048610e+05,2.463370e+05,1.252140e+05,1.181440e+05,...,507.000000,1196.000000,144.000000,107.000000,274.000000,84.000000,84.000000,188.000000,61.500000,2291.500000
75%,480.250000,2.565248e+06,1.318615e+06,1.253832e+06,1.602260e+06,9.203140e+05,6.568420e+05,4.550620e+05,2.284310e+05,2.163095e+05,...,939.000000,2224.250000,293.000000,253.000000,562.250000,216.000000,293.000000,509.000000,212.750000,3985.250000
max,640.000000,1.000978e+07,5.865078e+06,5.195070e+06,8.227161e+06,4.591396e+06,3.635765e+06,2.464032e+06,1.266504e+06,1.197528e+06,...,10334.000000,13483.000000,10835.000000,3595.000000,14430.000000,5027.000000,7597.000000,12624.000000,18289.000000,60163.000000

In [ ]:
df7=df.fillna(0)

KeyError: 'Age_Not_Started'